.DS_Store
.vscode
.gitignore
*.exe
/output.txt
/myProgram
/myProgram.exe
```
Lexical Analyzer/output.txt
Lexical Analyzer/myProgram
Lexical Analyzer/myProgram.dSYM/
Syntax Analyzer/output.txt
commentremove.txt
stage1exe
stage1exe
testing.txt
stage1exe
lexicaltest.txt
lexicaltest.txt
